<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,341},{154,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,52}}</string>
                <key>sourceSize</key>
                <string>{154,52}</string>
            </dict>
            <key>aboutA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>aboutB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{233,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,31}}</string>
                <key>sourceSize</key>
                <string>{233,31}</string>
            </dict>
            <key>backA.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,970},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>backB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,52}}</string>
                <key>sourceSize</key>
                <string>{53,52}</string>
            </dict>
            <key>battle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{301,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,118}}</string>
                <key>sourceSize</key>
                <string>{301,118}</string>
            </dict>
            <key>continueA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>continueB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,425},{543,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{543,107}}</string>
                <key>sourceSize</key>
                <string>{543,107}</string>
            </dict>
            <key>newgameA.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>newgameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>sound-off-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-off-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-on-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-on-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,341},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdf8a0bc9a48359784c42444dc467fed:1/1$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
